repos:
  # General pre-commits
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: detect-private-key
        description: "Check accidental private keys in code"
      - id: requirements-txt-fixer
        description: "Sort requirements alphabetically"
      - id: trailing-whitespace
        description: "Remove trailing whitespaces"
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: 'v1.10.0'
    hooks:
     - id: python-no-eval
     - id: rst-backticks
  # For python files
  - repo: https://github.com/psf/black
    # Code style
    rev: 23.10.1
    hooks:
      - id: black
  # Same tool but for Jupyter notebooks
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.7.0
    hooks:
      - id: nbqa-black
        name: nbqa-black
        description: "Run 'black' on a Jupyter Notebook"
        language: python
        require_serial: true
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    # Fast linter to replace flake8
    rev: 'v0.1.4'
    hooks:
     - id: ruff
       fail_fast: true
  - repo: local
    hooks:
      - id: cargofmt
        name: cargofmt
        entry: rustfmt
        files: rs
        language: system

