[package]
name = "cdshealpix"
version = "0.6.4"
authors = ["Matthieu Baumann <matthieu.baumann@astro.unistra.fr>", "F.-X. Pineau <francois-xavier.pineau@astro.unistra.fr>"]
description = "Python cdshealpix package wrapping code of the cdshealpix crate"
license = "BSD-3-Clause"
readme = "README.md"
categories = ["algorithms", "science"] 
keywords = ["healpix", "astronomy"]
documentation = "https://cds-astro.github.io/cds-healpix-python"
homepage = "https://github.com/cds-astro/cds-healpix-python"
repository = "https://github.com/cds-astro/cds-healpix-python"
edition = "2021"

[badges]
maintenance = { status = "actively-developed" }

[lib]
name = "cdshealpix"
crate-type = ["cdylib"]

[dependencies]
healpix = { package = "cdshealpix", version = "0.6.4" }
rayon = "1.5.3"

[dependencies.numpy]
version = "0.17.2"

[dependencies.pyo3]
version = "0.17.2"
features = ["extension-module"]

[dependencies.ndarray]
version = "0.15.6"
default-features = false # do not include the default features, and optionally
                         # cherry-pick individual features
features = ["rayon"]

