[package]
name = "cdshealpix"
version = "0.5.0"
authors = ["Matthieu Baumann <matthieu.baumann@astro.unistra.fr>", "F.-X. Pineau <francois-xavier.pineau@astro.unistra.fr>"]
edition = "2018"
license = "MIT/Apache-2.0"
readme = "README.md"
categories = ["algorithms", "science"] 
repository = "https://github.com/cds-astro/cds-healpix-python/"
description = """
Python cdshealpix package wrapping code of the cdshealpix crate.
"""

[build-system]
requires = ["setuptools", "wheel", "setuptools-rust"]

[lib]
name = "cdshealpix"
#path = "src/lib.rs"
crate-type = ["cdylib"]

[dependencies]
# The cdshealpix rust crate
healpix = { package = "cdshealpix", git = 'https://github.com/cds-astro/cds-healpix-rust', branch = 'master' }
numpy = "0.7.0"
rayon = "1.2.0"

[dependencies.pyo3]
version = "0.8.5"
features = ["extension-module"]

[dependencies.ndarray]
version = "0.13.0"
default-features = false # do not include the default features, and optionally
                         # cherry-pick individual features
features = ["rayon"]
