setuptools_rust
pytest
pytest_benchmark
astropy_healpix
healpy
sphinx
numpydoc
sphinxcontrib-bibtex
matplotlib
# Use of the healpix branch mocpy version (def of from_healpix_cells)
git+https://github.com/cds-astro/mocpy@healpix
spherical-geometry
